<script>
$(document).ready(function() {
	$('.approve').click(function(e) {
   e.preventDefault();
	// alert('hello');	
	var approve_id;
	approve_id = $(this).parent().parent().children().first().text();

	$.post('/commissioners/approve', 'approve_id='+approve_id, function(data) {
   if (data === "success") {
    $(this).parent().html('Approved');
  };
});
});
  $('.season_approve').click(function(e) {
    e.preventDefault();
    $(this).parent().html('Approved');
    var user_season_id;
    user_season_id = $(this).attr('data-user-season-id');
    $.post('/commissioners/approve_user_season', 'user_season_approve_id='+user_season_id, function(data) {
      if (data === "success") {
        $().parent().html('Approved');
      };
    });
  });
  $('.user_verify').click(function(e) {
    e.preventDefault();
    $(this).parent().html('Verified');
    var user_id;
    user_id = $(this).attr('data-user-id');
    $.post('/commissioners/verify_user', 'user_verify_id='+user_id, function(data) {
      if (data === "success") {
        $().parent().html('Verified');
      };
    });
  });
});


</script>

<h1 class="page-header">Commissioners Portal</h1>
<div class="row">
	<div class="col-md-8">
    <% if @unverified_users.any? %>
    <h2>Users who need to be verified</h2>
    <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Email</th>
            <th>Name</th>
            <th>Sign up referral code</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <% @unverified_users.each do |x| %>

          <tr>
            <td><%= x.id %></td>
            <td><%= x.email %></td>
            <td><%= x.full_name %></td>
            <td><%= x.signup_referral_code %></td>
            <td>
              <%= link_to "Verify", "#", :class => "btn btn-primary user_verify", "data-user-id" => x.id %>
            </td>
          </tr>
         <% end %>
        </tbody>
      </table>
    <% end %> 
		<h2>Users signed up for this <%= Season.current_season.year if Season.current_season %> season</h2>
<table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Email</th>
            <th>Name</th>
            <th>Referred by</th>
            <th>Approved <%= Season.current_season.year if Season.current_season %>?</th>
          </tr>
        </thead>
        <tbody>
        <% @users.each do |x| %>

          <tr>
            <td><%= x.id %></td>
            <td><%= x.email %></td>
            <td><%= x.full_name %></td>
            <td><%= x.referring_user.full_name %></td>
            <td>
              <% the_user_season = x.user_seasons.where(season_id: Season.current_season).first %>
              <% if the_user_season && !the_user_season.is_approved? %>
                <%= link_to "Approve", "#", :class => "btn btn-primary season_approve", "data-user-season-id" => the_user_season.id %>
              <% end %> 
              <% if the_user_season && the_user_season.is_approved? %>
                Approved
              <% end %> 
            </td>
          </tr>
         <% end %>
        </tbody>
      </table>
  </div>
  <div class="col-md-4">
    <h2>Seasons</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Season Year</th>
          <th>Signup status</th>
          <th>Signup count</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @seasons.each do |season| %>
          <tr>
            <td><%= season.year %>
            </td>
            <td>
              <% if season.signup_status == 1 %> 
                Open
              <% else %> 
                Closed
              <% end %> 
            </td>
            <td>
              <%= season.user_seasons.count %>
            </td>
            <td style="width:80px;">
              <% if season.signup_status == 1 %>
                <%= link_to "Close", "/seasons/#{season.id}/close", :class => "btn btn-danger" %>
              <% end %>
              <% if season.signup_status == 2 %>
                <%= link_to "Re-open", "/seasons/#{season.id}/open", :class => "btn btn-primary" %>
              <% end %>
              <% if season.signup_status == nil %>
                <%= link_to "Open", "/seasons/#{season.id}/open", :class => "btn btn-primary" %>
              <% end %>
            </td>

          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to "New Season", new_season_path %> | 
    <%= link_to "Seasons dashboard", seasons_path %>

    <h2>Upcoming Weeks</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Week number</th>
          <th>Number of games</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @weeks.each do |week| %>
          <tr>
            <td><%= week.week_number %>
            </td>
            <td><%= Game.where(week_number: week.week_number, season_id: week.season_id).count %>
            </td>
            <td>
              <div class="btn-group-vertical">
              <%= link_to "Edit games", week, :class => "btn btn-default" %>
              <% if week.open == false %>
                <%= link_to "Open picks", "/weeks/#{week.id}/open", :class => "btn btn-default" %>
              <% else %>
                <% if week.closed == false %>
                  <%= link_to "Close picks", "/weeks/#{week.id}/close", :class => "btn btn-default" %>
                <% end %>
                  <%= link_to "Review Picks", "/weeks/#{week.id}/review", :class => "btn btn-default" %>
              <% end %>
              </div>
            </td>

          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to "New week", new_week_path %> | 
    <%= link_to "Weeks dashboard", weeks_path %>
  </div>
</div>