<% # <!-- User signed up, not verified, still accepting signups --> %>
<% # <!-- Not verified users won't see anything after signups are closed --> %>
<% if current_user.verified != true && Season.season_accepting_signups %>
	<div class="jumbotron">
		<h1>Boom! Thanks for signing up. You need a referral code, though!</h1>
		<h2>We didn't recognize the referral code you entered. Please email Commish at <strong>bfigcommish@gmail.com</strong> with either your correct referral code or the name of the awesome friend who referred you.</h2>
	</div>
<% end %>
<% # <!-- user verified, not signed-up for this season -->%>
<% if current_user.verified == true && current_user.could_sign_up_for_another_season? %>
	<div class="jumbotron">
		<h1>Welcome back!</h1>
		<h2> Click "Signup for <%= Season.season_accepting_signups.year %>" --><%= link_to "Signup for #{Season.season_accepting_signups.year}", '/next-season/sign-up', :class => "btn btn-primary btn-lg" %></h2>
	</div>
<% end %>
<% # <!-- User verified, not paid & paid --> %>
<% # <!-- Not paid users won't see anything after 1st week is closed --> %>
<% if current_user.verified == true && (current_user.is_signed_up_for_next_season? || (current_user.is_signed_up_for_current_season? && Season.current_season.has_had_a_closed_week? == false)) %>
	<div class="jumbotron">
			<h1>Welcome to BFIG <%= Season.current_season.year %>!</h1>
			<% # puts '<h2>Rule #1: Invite your friends using this link: <%= link_to "#{ENV['BFIG_ADDRESS']}/signup?ref=#{current_user.referral_code}", "/signup?ref=#{current_user.referral_code}", style: "word-wrap:break-word" //</h2>' %>
			<h2>Rule #1: Invite your friends. Give them your referral code - <strong><%= current_user.referral_code %></strong> - and send them to <a href="http://bfigsurvivalpool.com">bfigsurvivalpool.com</a>. Or, tell them to click this fancy URL: <%= link_to "#{ENV['BFIG_ADDRESS']}/signup?ref=#{current_user.referral_code}", "/signup?ref=#{current_user.referral_code}", style: "word-wrap:break-word" %></h2>
			<% if current_user.has_been_approved_for_this_season? != true %>
				<h3>Rule #2: Commish needs your payment on or before Sept. 2 at 11:59 p.m. (PDT). Read on for how to pay.</h3>
			<% else %>
				<h3>Commish has received your payment. Thanks!</h3>
			<% end %>
			<div class="btn-group btn-group-lg">
				<a href="#pay" class="btn btn-default">How to pay</a>
				<a href="#payouts" class="btn btn-default">How payouts work</a>
				<a href="#refer" class="btn btn-default">Why you need to refer friends</a>
				<a href="#rules" class="btn btn-default">Full rules</a>  
			</div>
	</div>
	<div class="row">
		<div class="col-md-12" id="pay">
			<h1>How to pay, and why it's worth it</h1>
			<hr>
			<ul class="list">
				<li>Last year, our champ took home <strong>a cool $6,000</strong>. This year, first prize should be <strong>over $10,000</strong>. For those keeping score, $10,000 on a $25 wager is the best return since Enron.</li>
				<li>Aside from the payouts, if your friend hasn't already told you that BFIG is The Best Damn Survival Pool, Period, then allow me to inform you that BFIG is The Best Damn Survival Pool, Period. Commish takes great pride in running a fantastic pool, complete with weekly previews, recaps and commentary. 90% of the pool returns each year. <%= link_to "Read the pool history", '/pool-history' %> if you're unconvinced.</li>
				<li><strong>Your season fee must be in by the deadline - no exceptions.</strong> The pool has gotten too big for me to deal with Eli Manning-esque latency. Send it in early to get on my good side.</li>
				<li>You can pay four ways: Venmo, Chase QuickPay, Square Cash, and check.</li>
				<li><strong><%= link_to "Venmo:", 'http://venmo.com', "target" => "_blank" %></strong> If using Venmo balance, send $25 to peter.simones@gmail.com. If using credit card, make it $25.75.</li>
				<li><strong><%= link_to "Chase:", 'https://www.chase.com/online-banking/quickpay', "target" => "_blank" %></strong> Send $25 to peter.simones@gmail.com.</li>
				<li><strong><%= link_to "Square Cash:", 'https://square.com/cash', "target" => "_blank" %></strong> Send $25 to peter.simones@gmail.com.</li>
				<li><strong>Check:</strong> Send $25 to Peter Simones, 3685 17th St. #2, San Francisco, CA 94114. Please refrain from sending me love letters. I love you, too.</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12" id="payouts">
			<h1>How payouts work</h1>
			<hr>
			<ul class="list">
				<li>It's winner-take-most, but definitely not all. Roughly 6% of the pool gets paid. This year, that'll mean ~40 places. And again, the winner should get $10,000.</li>
				<li>If you're out by Week 5, you get to play in the Second Chance Pool at no extra cost. It's the Wild West of survival, and the winner of that pool takes home $300.</li>
				<li>Additionally, we're adding a new wrinkle this year in the form of a Week 12 pick 'em. Everyone can play at no extra cost. The winner of the pick 'em (pick every game straight up) will get $200.</li>
				<li>Payouts for every place are calculated before the first game and included in the Week 1 PICKS email.</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12" id="refer">
			<h1>Why you need to refer friends</h1>
			<hr>
			<ul class="list">
				<li>This pool has grown entirely through you referring your friends. It's a huge part of what makes it so much fun. You know a bunch of people in the pool, and for everyone else, you know which arm of the tree they belong to.</li>
				<li>Yeah, a tree. We have an actual BFIG tree that shows how we all know each other. It's awesome, and having a huge branch is second in prestige only to winning the title belt. Do you really want an empty branch?</li>
				<li>Shoot off some emails right now. Again, the link your friends need is: <%= link_to "http://www.bfigsurvivalpool.com/signup?ref=#{current_user.referral_code}", "http://www.bfigsurvivalpool.com/signup?ref=#{current_user.referral_code}" %>. You can also give them your referral code: <strong><%= current_user.referral_code %></strong>.</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12" id="rules">
			<h1>Full Rules</h1>
			<hr>
			<p>If you've made it this far, I salute you. You're the type of person who'd want to read the full pool rules. Get at me, ESPN legal department; I'm a one-man wrecking machine.</p>
		</div>
	</div>
<% end %>