<% # <!-- User signed up, not verified, still accepting signups --> %>
<% # <!-- Not verified users won't see anything after signups are closed --> %>
<% if current_user.verified != true && Season.season_accepting_signups %>
	<div class="jumbotron">
		<h1>You fumbled the referral code!</h1>
		<h2>Thanks for signing up, but your referral code wasn't valid. Please email Commish at <strong>bfigcommish@gmail.com</strong> with either your correct referral code or the name of the awesome friend who referred you.</h2>
	</div>
<% end %>
<% # <!-- user verified, not signed-up for this season -->%>
<% if current_user.verified == true && current_user.could_sign_up_for_another_season? %>
	<div class="jumbotron">
		<h1>Welcome back!</h1>
		<h2> You ready for another season? (Yeah you are.) Click "Signup for <%= Season.season_accepting_signups.year %>" --> <%= link_to "Signup for #{Season.season_accepting_signups.year}", '/next-season/sign-up', :class => "btn btn-primary btn-lg" %></h2>
	</div>
<% end %>
<% # <!-- User verified, not paid & paid --> %>
<% # <!-- Not paid users won't see anything after 1st week is closed --> %>
<% if current_user.verified == true && (current_user.is_signed_up_for_next_season? || (current_user.is_signed_up_for_current_season? && Season.current_season.has_had_a_closed_week? == false)) %>
	<div class="jumbotron">
			<h1>Welcome to BFIG <%= Season.current_season.year %>!</h1>
			<% # puts '<h2>Rule #1: Invite your friends using this link: <%= link_to "#{ENV['BFIG_ADDRESS']}/signup?ref=#{current_user.referral_code}", "/signup?ref=#{current_user.referral_code}", style: "word-wrap:break-word" //</h2>' %>
			<h2>RULE #1: Invite your friends! Give them your referral code - <strong><%= current_user.referral_code %></strong> - or, tell them to click this fancy URL: <%= link_to "#{ENV['BFIG_ADDRESS']}/signup?ref=#{current_user.referral_code}", "/signup?ref=#{current_user.referral_code}", style: "word-wrap:break-word" %></h2>
			<% if current_user.has_been_approved_for_this_season? != true %>
				<h3>RULE #2: You *must* pay your entry fee before Sept. 11 at 11:59 p.m. (PDT). Read on for how to pay.</h3>
				<p></p>
			<% else %>
				<h3><strong>You're paid up and approved for the <%= Season.season_accepting_signups.year %> season. Thanks!</strong></h3>
				<p> </p>
			<% end %>
			<div class="btn-group btn-group-lg">
				<a href="#why" class="btn btn-default">Why BFIG</a>
				<a href="#pay" class="btn btn-default">How to pay</a>
				<a href="#payouts" class="btn btn-default">2015 payouts</a>
				<a href="#refer" class="btn btn-default">Referring friends</a>
				<a href="#dis" class="btn btn-default">Disclaimer</a>
				<a href="#rules" class="btn btn-default">Full rules</a>  
			</div>
	</div>
	<div class="row">
		<div class="col-md-12" id="why">
			<h1 style="margin-top:30px; margin-bottom:0px;">Why BFIG will change your life</h1>
			<hr>
			<ul class="list">
				<li>Last year, our champ took home <strong>a cool $13,500</strong>. This year, first prize should be <strong>$20,000</strong>. For those keeping score, $20,000 on a $25 wager is the best return since Enron.</li>
				<li>If your friend hasn't already told you that BFIG is The Best Damn Survival Pool, Period, then allow me to inform you that <strong>BFIG is The Best Damn Survival Pool, Period</strong>. Commish takes great pride in running a fantastic pool, complete with weekly previews, recaps and commentary.</li>
				<li>This is our sixth season, and 90% of the pool returns each year. <strong><%= link_to "Read the pool history", '/pool-history', "target" => "_blank" %></strong> if you're unconvinced.</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12" id="pay">
			<h1 style="margin-top:30px; margin-bottom:0px;">How to pay (do it now!)</h1>
			<hr>
			<ul class="list">
				<li><strong>Your season fee must be in by deadline (Sept. 11 at 11:59pm PST) - no exceptions.</strong> Commish can't deal with Eli Manning-esque latency.</li>
				<li>We're using LeagueSafe - the leading fantasy dues service - this year. Here's what you need to know:</li>
				<li><strong>Pay here: <%= link_to "leaguesafe.com/join/2843532", 'https://www.leaguesafe.com/join/2843532', "target" => "_blank" %></strong></li>
				<li>Season fee is $25 and LeagueSafe will take 75 cents as a fee. So you'll pay $25.75 total.</li>
				<li>Commish makes NO profit from BFIG. I do this out of my love for football, my love for sportswriting, and my love for you (puppy eyes). Running this league costs a little bit (website hosting, email service, etc.) and that's all I remove from the pot.</li>
				<li>If you take home money for placing, LeagueSafe takes a $2 fee for cutting/mailing you a check. It's flat, so always $2 no matter how much you win. Commish can no longer write personal checks to all of you, and frankly, I wouldn't have time to run this pool if I had to collect and distribute money.</li>
				<li>LeagueSafe is run by <%= link_to "Paul Charchian", 'https://twitter.com/PaulCharchian', "target" => "_blank" %>, who does national radio and has been running fantasy businesses since the mid-90s. I chose them for their strong reputation.</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12" id="payouts">
			<h1 style="margin-top:30px; margin-bottom:0px;">2015 payouts</h1>
			<hr>
			<ul class="list">
				<li>We need to start doing the jumbo check thing. Have a jumbo check guy? Send him my way.</li>
				<li>Our winner will get $20,000.</li>
				<li>Second place will get $7,000. The rest of the prizes descend from there.</li>
				<li>Roughly 5% of the pool gets paid. This year, that'll mean ~100 places.</li> 
				<li>The lowest places get $30. You can buy a six-pack of PBR with your profits and tell anyone who'll listen about how close you were to getting daddy a new car.</li>
				<li>If you drop out in weeks 1-4, you get to play in the Second Chance Pool - at no extra cost - starting in Week 5. It's the Wild West of survival, and the winner of that pool will take home $1,000.</li>
				<li>Additionally, there's a Week 12 pickem. Everyone can play at no extra cost. The winner of the pickem (pick every game straight up) will get $300.</li>
				<li>Payouts for every place will be included in the Week 1 PICKS email.</li>
				<li>All payouts will be distributed at the same time, once the full season has concluded (January).</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12" id="refer">
			<h1 style="margin-top:30px; margin-bottom:0px;">Why referring friends = win</h1>
			<hr>
			<ul class="list">
				<li>This pool has grown entirely through you referring your friends. It's a huge part of what makes it so much fun. You know a bunch of people in the pool, and for everyone else, you know which arm of the tree they belong to.</li>
				<li>Yeah, <strong><%= link_to "a tree", 'http://bit.ly/BFIGtree2014' %></strong>. We have an actual BFIG tree that shows how we all know each other. It's awesome, and having a huge branch is second in prestige only to winning the title belt. Do you really want an empty branch?</li>
				<li>Shoot off some emails and texts right now. Again, <strong>the link your friends need is: <%= link_to "http://www.bfigsurvivalpool.com/signup?ref=#{current_user.referral_code}", 'http://www.bfigsurvivalpool.com/signup?ref=#{current_user.referral_code}' %></strong>.</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12" id="dis">
			<h1 style="margin-top:30px; margin-bottom:0px;">Disclaimer</h1>
			<hr>
			<ul class="list">
				<li>BFIG is a sports community and skill-based fantasy sports game. To win, you must possess knowledge of NFL teams' relative strength and the myriad other variables that affect which team wins each game. You must also apply a unique strategy over several months, related to which teams you pick at which times. Point spreads do not play a role in BFIG. The prizes awarded in BFIG are not based on the outcome of any single game or any single player performance. BFIG provides no information to participants that would reduce the impact of knowledge and skill on the outcome. BFIG is not a gambling business. BFIG does not take any profit from entry fees. BFIG is not open to people residing in Arizona, Arkansas, Florida, Iowa, Kansas, Montana, Louisiana, or Tennessee.</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12" id="rules">
			<h1 style="margin-top:30px; margin-bottom:0px;">Full Rules</h1>
			<hr>
			<p>If you've made it this far, I salute you. You're the type of person who'd want to read the <strong><%= link_to "full pool rules", '/rules', "target" => "_blank" %></strong>. Get at me, ESPN legal department; I'm a one-man wrecking machine.</p>
			<p> </p>
		</div>
	</div>
<% end %>